
@import url('https://fonts.googleapis.com/css2?family=Glory&family=Red+Hat+Display:wght@700&display=swap');

html {
	font-size: 16px;
	font-family: "Glory", serif;

	color: #fffa;
	--bg: #000000f0;
	background:
		linear-gradient(var(--bg), var(--bg)),
		url('/assets/backgrounds/002.webp') #000;
	background-size: cover, 512px;
}

html, body {
	min-height: 100%;
}

body { padding-bottom: 10em; }

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	::-webkit-scrollbar { width: 10px; }
	::-webkit-scrollbar-track { background: #111; border-radius: 1em; }
	::-webkit-scrollbar-thumb { background: #444; border-radius: 1em; }
	::-webkit-scrollbar-thumb:hover { background: #777; }

	scrollbar-color: #222 #111;
	scrollbar-width: thin;
}

a:link {
	color: cyan;
}

.wip {
	color: yellow;
	font-weight: bold;
	font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Red Hat Display", serif;
	font-weight: 700;
	color: #f4c14ae5;
	color: #fff4;
}

main {
	width: 200em;
	max-width: 100vw;
	margin: auto;
	padding-bottom: 4em;

	> hr {
		content: "";
		display: block;
		width: 100%;
		height: 1em;
		background-size: 100% 100%;
		border: none;
		box-shadow: 0 0 0.5em #000;
		position: relative;
		z-index: 1;
		background: url('/assets/graphics/stonetrim-001.webp');

		--inner: #fddb58;
		--outer: #f5a032;

		background: linear-gradient(to right, var(--outer), var(--inner), var(--outer));

		border-top: 2px solid #fff2;
		border-bottom: 2px solid #0004;
	}

	> section {
		position: relative;
		overflow: hidden;
		padding-bottom: 2em;

		&::after {
			content: "";
			display: block;
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			right: 0;
			aspect-ratio: 3 / 1;
			background: var(--banner);
			background-size: 100%;
			background-position: center top;
			background-repeat: no-repeat;
			-webkit-mask-image: linear-gradient(#000f 50%, #0000);
			mask-image: linear-gradient(#000f 50%, #0000);
		}

		> * {
			position: relative;
			z-index: 2;
		}

		> h1 {
			font-size: 3em;
			padding: 1.5em;
			/* min-height: 16.67vw; */
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;

			color: white;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			text-shadow: 0.1em 0.1em 0.1em #0008;
		}
	}
}

.columns {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	gap: 1em;
	padding: 1em;

	> * {
		flex: 1 1 15em;
		max-width: 30em;
		box-shadow: 0.2em 0.3em 0.5em #0008;

		&:is(div) {
			padding: 1em;
		}

		&:is(div, atl-showcase) {
			background: #222a;
			border-radius: 0.3em;
			backdrop-filter: blur(1em);
			text-shadow: 0.1em 0.1em 0.1em #0008;
			overflow: hidden;
			background: transparent;

			position: relative;

			&::before {
				opacity: 0.8;
				content: "";
				position: absolute;
				display: block;
				inset: 0;
				--bg: #111111f8;
				background:
					linear-gradient(var(--bg), var(--bg)),
					url('/assets/backgrounds/001.webp');
				background-size: cover, 128px;
				z-index: -1;
			}
		}
	}
}

.columns atl-showcase {
	padding: 0;
}

/* standard content margins */
atl-showcase,
.columns > div {
	> * + * {
		margin-top: 0.5em;
	}
}

.card {
	padding: 2em 0;
	text-align: center;
	max-width: 20em;
	margin: auto;

	> h2 {
		font-size: 2em;
	}
}

